<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Give Me Opportunity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Give Me Opportunity</h1>
        <input type="text" id="location" placeholder="Location">
        <input type="text" id="job_type" placeholder="Job Type (remote, hybrid, in-person)">
        <button id="search-button">Search</button>

        <div id="job-results"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
